.score-card__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 10px;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
  border-radius: 5px;
  user-select: none;
  font-size: 26px;
  font-weight: 600;
}