.chat_wrapper {
  margin-top: 30px;
  width: 480px;
  max-height: 50vh;

  .messages_wrapper {
    width: 100%;
    height: 70%;
    max-height: 500px;
    overflow-y: auto;
    margin-bottom: 10px;

    .message_container {
      margin: 10px 0;
      display: flex;
      gap: 10px;
      justify-content: space-between;
    }

    .chat-message {
      width: fit-content;
      max-width: 50%;
      height: fit-content;
      padding: 5px;
      background-color: rgb(240, 240, 240);
      border-radius: 5px;
      text-align: justify;
      word-wrap: break-word;
    }
  }

  .chat_controls {
    padding-top: 10px;
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;

    .input_props {
      width: 75%;
    }

    .send-btn_props {
      align-self: end;
      height: 40px;
    }
  }
}

@media (max-width: 1110px) {
  .chat_wrapper {
    width: 380px;
  }
}

@media (max-width: 900px) {
  .chat_wrapper {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .chat_wrapper {
    max-width: 680px;
    width: 100%;
    margin-top: 0;
  }
}