.timer {
  width: 160px;
  padding: 10px;
  background: #FFFFFF;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);

  &__label {
    display: flex;
    gap: 30px;
  }

  &__time {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: black;
  } 
}