@import 'src/assets/stylesheets/variables';

.card_container {
  position: relative;
  min-width: 120px;
  height: 180px;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
  border-radius: 5px;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.15s ease-in;

  .top-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
  }

  .card-value_text {
    padding: 5px;
    font-size: 24px;
    font-weight: 500;
  }

  .rotate {
    align-self: flex-end;
    transform: rotate(180deg);
  }

  .score-type_text {
    font-size: 60px;
    font-weight: 700;
    align-self: center;
  }

  .checked-cover {
    position: absolute;
    min-width: 120px;
    height: 180px;
    background-color: $checked-card-color;
    opacity: .7;


  }
  .check-icon-wrapper {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -25px;
      margin-top: -25px;
      min-width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      border-radius: 50px;

    .check-icon {
      position: absolute;
      font-size: 70px; 
      color: $checked-card-color;
    }
  }
}

.active-card:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px 3px rgba(0,0,0,0.25);
  transition: all 0.15s ease-in;
}

.edit-icon {
  font-size: 28px;
  transition: all 0.15s ease-in;
}

.edit-icon:hover {
  cursor: pointer;
  color: $app-main-color2;
  transition: all 0.15s ease-in;
}