.lobby-page {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  min-height: calc(100vh - 134px);
  display: flex;
  justify-content: space-between;
}

.lobby-page-wrapper {
  width: 100%;
  padding-top: 30px;
  border-right: 2px solid gray;
}

.copy-to-lobby {
  display: flex;
}
.input-link-to-label > .MuiInputBase-root {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.copy-to-lobby > .MuiButton-root {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.buttons-game {
  display: flex;
  justify-content: space-between;
}

.chat-container {
  width: 500px;
  padding: 0 20px;

  @media (max-width: 1110px) {
    width: 400px;
  }

  @media (max-width: 900px) {
    width: 340px;
  }

  @media (max-width: 768px) {
    max-width: 680px;
    width: 80%;
    padding: 0 44px;
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .lobby-page {
    display: block;
  }

  .lobby-page-wrapper {
    border-right: none;
  }
}
