.lobby-page {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  min-height: calc(100vh - 134px);
  display: flex;
  justify-content: space-between;
}

.lobby-page-wrapper {
  width: 100%;
  padding-top: 30px;
  border-right: 2px solid gray;
}

.copy-to-lobby {
  display: flex;
}
.input-link-to-label > .MuiInputBase-root {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.copy-to-lobby > .MuiButton-root {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.buttons-game {
  display: flex;
  justify-content: space-between;
}
.setting > .MuiGrid-container {
  justify-content: space-between;
}

.chat-container {
  width: 400px;
  padding-left: 20px;
}
