@import 'src/assets/stylesheets/variables';

.header-menu {
  position: relative;
  max-width: 1280px;
  width: 100%;
  height: 70px;
  margin: 0 auto;
  background-color: $app-main-color1;
  display: flex;
  align-items: end;
  
  img {
    position: absolute;
    left: 64px;
    top: 15px;
  }

  ul {
    margin: 0;
    padding: 0;
    top: 20px;
    left: 200px;
    position: absolute;
    list-style-type: none;
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: center;
  }
}

.header-menu_bottom {
  height: 20px;
  width: 100%;
  background-color: $app-main-color2;
}

.header-link {
  list-style-type: none;
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in;
}

.header-link:hover {
  color: #ffdd40;
}
