@import 'src/assets/stylesheets/variables';

.main-page {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 134px);
}

.main-page-wrapper {
  width: 70%;
  margin: 0 auto;
  margin-top: 80px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  img {
    width: 50%;
    align-self: center;
  }

  .large-text {
    @include large-text;
    color: $app-main-color2;
  }

  .text-center {
    align-self: center;
    width: 50%;
  }

  .input-wrapper {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
