.game-page {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 134px);
}

.game-page-wrapper {
  width: 100%;
  height: 100%;
  margin: 50px auto;
}
