@import 'src/assets/stylesheets/variables';

.copy-to-lobby {
  display: flex;
}
.input-link-to-label > .MuiInputBase-root {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.copy-to-lobby > .MuiButton-root {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}