.setting > .MuiGrid-container,
.MuiCollapse-wrapperInner > .MuiGrid-container {
  justify-content: space-between;
}

.setting-grid > .MuiGrid-grid-xs-2 {
  max-width: 140px;
  flex-basis: initial;
}

.setting-grid > .MuiGrid-grid-xs-1 {
  max-width: 82px;
  flex-basis: initial;
}

.setting-grid > .MuiGrid-grid-xs-3 {
  max-width: initial;
}

.setting-grid > .MuiGrid-grid-xs-10 {
  flex-basis: initial;
}

@media (max-width: 1110px) {
  .setting-grid > .MuiGrid-grid-xs-8 {
    flex-basis: 55%;
  }
}

@media (max-width: 900px) {
  .setting-grid > .MuiGrid-grid-xs-8 {
    flex-basis: 50%;
  }
}
